/* App.css */
.App {
  background-color: #3e1d38;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.App button {
  background-color:  #fff5b3;
  color: #3e1d38;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}



.App button:hover {
  background-color: #fff5b3;
}

.App h1{
  font-size: 50px;
  margin-top: -50px;
  margin-bottom: 30px;
  font-family: Arial;
}

.App img {
  transition: transform 0.3s;
}

.App img:hover {
  transform: scale(1.1);
}

.lab{
margin-left: 5px;
margin-top: 50px;
width: 80%;
}

.custom-col {
  background-color: white;
  color: #702963;
  border-radius: 20px;
  margin: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-col:hover {
  background-color: #e0e0e0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.plus-one {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: gold;
  animation: moveUp 1s ease-in-out;
  pointer-events: none; /* Ensures clicks pass through the +1 text */
}

@keyframes moveUp {
  0% {
      opacity: 1;
      transform: translate(-50%, 20px);
  }
  100% {
      opacity: 0;
      transform: translate(-50%, -20px);
  }
}

.vibrate {
  animation: vibrate 0.3s linear;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.progress-bar-animated {
  animation: move 2s linear infinite;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(0, 0, 0, 0.2) 75%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background-size: 200% 200%;
}
